<%
  subid = "as_admissions__admission_applications-#{record.id}-show-filled-form-div"
  visible = false
%>
<div>
  <%= toggable_area(record.filled_form.to_label, visible:, id: subid) do %>
    <%= render partial: "admissions/filled_form/show/filled_form_template", locals: {
              form_template: record.filled_form.form_template,
              filled_form: record.filled_form} %>
  <% end %>
</div>
