<div class="active-scaffold">
  <div class="map_student_form_create_update-view <%= "#{id_from_controller params[:controller]}-view" %> view">
    <%= render :partial => 'map_student_form_create_update_form' -%>
  </div>
</div>
