<div class="active-scaffold">
  <div class="map_student_initial-view <%= "#{id_from_controller params[:controller]}-view" %> view">
    <%= render :partial => 'map_student_initial_form' -%>
  </div>
</div>
