.enrollment-request-help p {
    margin-bottom: 6px;
}

.enrollment-request-help .status {
    color: darkmagenta;
}

.enrollment-request-help ul {
    list-style-type: none;
    margin: 5px 0 10px 0;
    padding-left: 10px;
}