.sub-form-enroll {
  clear: both;
  display: block;
  padding: 5px 0;
}

.sub-form-enroll h5 {
  margin-bottom: 5px;
}

table.enroll-table  {
  border: none;
  border-collapse:collapse;
  border-spacing: none;
  width: 100%;
}

.enroll-table th {
  background-color: #427fa4;
  color: white;
  padding: 5px 4px;
}

.enroll-table tr {
  background-color: #E6F2FF;
}

.enroll-table tr.even-record {
  background-color: #fff;
}

.enroll-table:not(.disable-pointer) tr:hover {
  background-color: #00cc80;
  cursor: pointer;
}


.enroll-table td, .enroll-table th {
  text-align: center;
  font-family: Verdana, sans-serif;
  border: none;
  
}

.enroll-table label {
  width: 100%;
  height: 100%;
  display: block;
  padding: 5px 4px;
}

.enroll-table .stat {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 4px;
}

.enroll-table .stat a {
  font-family: Verdana, sans-serif;
  font-size: inherit;
  padding: 0;
}

.enroll-table:not(.disable-pointer) tr label:hover {
  cursor: pointer;
}

.enroll-table .cell-disciplina, 
.enroll-table .cell-professor  {
  text-align: left;
}

.enroll-main ul {
  list-style-type: none;
  padding: 0;
}

.show-enroll-status {
  display: block;
  margin: 10px 0;
}

.show-enroll-status-valid {
  color: green;
} 

.show-enroll-status-effected {
  color: green;
}

.show-enroll-status-invalid {
  color: darkred;
} 

.show-enroll-status-requested {
  display: none;
}

.enroll-row-valid td:first-child {
  color: green !important;
}

.enroll-row-invalid td:first-child {
  color: lightcoral !important;
}

.enroll-row-effected td:first-child {
  color: green !important;
}

.enroll-table .check-label {
  padding: 0;
}

.enroll-messages .log {
  display: flex;
  flex-direction: column;
}

.enroll-messages .enroll-message {
  margin: 5px 0;
  font: normal verdana, sans-serif;
  color: #555;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 7px;
  padding: 5px


}

.enroll-messages .enroll-message .content {
  margin: 3px 0;
  display: block;
}

.enroll-messages .enroll-message .content p {
  margin: 0;
}

.enroll-messages .message-box {
  margin: 1em 0;
}

.enroll-messages .message-box .send-message {
  display: block;
  margin: 3px 0;
}

.enroll-messages .new-message {
  color: darkgreen;
}

.schedule .schedule-title {
  font-weight: bold;
}

.schedule .schedule-date-attr {
  color: #666;
  width: 270px;
  display: inline-block;
}

.schedule .schedule-date-attr::after {
  content: ":"
}