// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.preview-image {
  max-width: 400px;
  max-height: 300px;
  object-fit: cover;
  width: 100%;
  height: auto;
  background-color: #f2f1f0;
}
