<td class="field-name"><%= form_field.name %></td>
<td class="field-value">
  <% if field.file.blank? || field.file.file.blank? %>
    -
  <% else %>
    <a href="<%= "#{root_url}#{field.file.url}" %>"><%= field.file.filename %></a>
  <% end %>
</td>
