<td class="field-name"><%= form_field.name %></td>
<td class="field-value">
  <% if field.file.blank? || field.file.file.blank? %>
    -
  <% else %>
    <%= link_to field.file.filename, download_url(field.file.medium_hash) %>
  <% end %>
</td>
