  
<div class="active-scaffold">
  <div class="help-view <%= "#{id_from_controller params[:controller]}-view" %> view">
    <%= render :partial => 'enrollment_requests/shared_help' -%>
  </div>
</div>