<%
  options = {size: 30}
  options[:required] = "required" if configuration["required"]
%>
<li class="form-element <%= configuration["required"] ? "required" : "" %>">
  <dl>
    <dt>
      <%= field.label :value, form_field.name %>
      <% if form_field.description.present? %>
        <span class="filled-form-description"><%= form_field.description %></span>
      <% end %>
    </dt>
    <dd> <%= field.text_field :value, class: ["text-input", filled_class],
             placeholder: configuration["placeholder"], **options %> </dd>
  </dl>
</li>
