<%
  options = {}
  options[:required] = "required" if configuration["required"]
  options[:rows] = configuration["rows"].present? ? configuration["rows"] : 5
  options[:cols] = configuration["cols"].present? ? configuration["cols"] : 40
%>
<li class="form-element <%= configuration["required"] ? "required" : "" %>">
  <dl>
    <dt>
      <%= field.label :value, form_field.name %>
      <% if form_field.description.present? %>
        <span class="filled-form-description"><%= form_field.description %></span>
      <% end %>
    </dt>
    <dd> <%= field.text_area :value, class: ["text-input", filled_class], **options %> </dd>
  </dl>
</li>
