!!! 5
%body
  %h2 E-mail de confirmação para: #{@student_token.email}
  %p Follow the link below to continue with the process:
  %a{:href => student_confirm_url(@student_token.token)} #{student_confirm_url(@student_token.token)}