<div class="content">
  <div id="as_users-active-scaffold" class="active-scaffold active-scaffold-as_users users-view default-theme" data-closelabel="Fechar" data-controller="users">
    <div class="active-scaffold-header">
      <h2><%=I18n.t("doc.license")%></h2>
    </div>

    <div id="license">
      <%= markdown(@license) %>
    </div>
  </div>
</div>