<div class="content">
  <div id="as_users-active-scaffold" class="active-scaffold active-scaffold-as_users users-view default-theme" data-closelabel="Fechar" data-controller="users">
    <div class="active-scaffold-header">
      <h2>Créditos</h2>
    </div>

    <div id="credits">
      <%= markdown(@credits) %>
    </div>
  </div>
</div>