Lembre que o relatório final é a coleção de artigos do programa. Assim:

<ul>
    <li>Tente informar entre quatro e oito artigos. Mas não deixe de preencher se sua escolha for menor que essa.</li>
    <li>Caso tenha mais de um artigo de destaque por ano, informe também.</li>
    <li>Os artigos podem ser publicações em periódicos ou conferências.</li>
</ul>

<br>
<br>