<% column_options = active_scaffold_input_options(column, scope, :object => record) %>


    <dl class="textarea_value variable_value variable_text variable_text">
        <dt>
            <%= label_tag label_for(column, column_options), column.label %>
        </dt>
        <dd>
            <%= text_area(:record, :value, column_options) %>
        </dd>
    </dl>
</li>
<li class="form-element">
    <dl class="textarea_value variable_value variable_pdfimage">
        <dt>
            <%= label_tag label_for(column, column_options), column.label %>
        </dt>
        <dd>
            <div class="header_text_field">
                <%= text_area_tag(
                    :record_value_text, 
                    record.image.text, 
                    column_options.merge(
                        :rows=>20, 
                        :cols=>40, 
                        :name=>"record[value_text]", 
                        :class=>"value-input header_textarea")) %>
            </div>
        </dd>
    </dl>
</li>

<li class="form-element">
    <dl class="image_value variable_value variable_pdfimage">
        <dt>
            <%= label_tag label_for(column, column_options), I18n.t('active_scaffold.custom_variables.pdf_header.scale') %>
        </dt>
        <dd>
            <div class="pdfimage">
                <%= image_tag(record.image.url) + '<br>'.html_safe  %>
            </div>
            <div class="filefield">
                <%= file_field(:record, :file_value, :value => record.image.filename, :class => 'record_file_value') %>
            </div>
        </dd>
    </dl>
</li>
<li class="form-element">
    <dl class="image_value variable_value variable_pdfimage">
        <dt>
            <%= label_tag "record_value_scale_#{record.id}", I18n.t('active_scaffold.custom_variables.pdf_header.logo') %>
        </dt>
        <dd>
            <%= text_field(:record, :value_scale, :value => record.image.scale, :class => 'text-input') %>
        </dd>
    </dl>
</li>
<li class="form-element">
    <dl class="image_value variable_value variable_pdfimage">
        <dt>
            <%= label_tag "record_value_x_#{record.id}", I18n.t('active_scaffold.custom_variables.pdf_header.x') %>
        </dt>
        <dd>
            <%= text_field(:record, :value_x, :value => record.image.x, :class => 'text-input') %>
        </dd>
    </dl>
</li>
<li class="form-element">
    <dl class="image_value variable_value variable_pdfimage">
        <dt>
            <%= label_tag "record_value_y_#{record.id}", I18n.t('active_scaffold.custom_variables.pdf_header.y') %>
        </dt>
        <dd>
            <%= text_field(:record, :value_y, :value => record.image.y, :class => 'text-input') %>
        </dd>
    </dl>
</li>
<li class="form-element">
    <dl class="image_value variable_value variable_pdfimage">
        <dt>
        </dt>
        <dd>
            <%= link_to(I18n.t('active_scaffold.custom_variables.pdf_header.preview'), {:action => "preview", :format=>'pdf'}, :class=>'pdf_preview') %>
        </dd>
    </dl>

<script>
    var variables = <%= CustomVariable::VARIABLES.to_json.html_safe %>;
    function select(value){
        var is_logo = (value == 'logo');
        $('.variable_value').hide();
        $('.variable_'+variables[value]).show();
    }
    $('#record_variable_<%=record.id%>').change(function(){
        select(this.value);
    })
    $('.record_file_value').change(function(ev){
        var f = (ev.target.files[0]);
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            var reader = new FileReader();

            reader.onload = (function(theFile) {
                return function(e) {
                    $('.pdfimage').html(['<img class="thumb" src="', e.target.result,
                                    '" title="', escape(theFile.name), '"/>'].join(''));
                };
            })(f);

            reader.readAsDataURL(f);
        } else {
            $('.pdfimage').html('...');
        }
    })
    function getiframeDocument(iframe) {
        var iframeDoc = iframe[0].contentWindow || iframe[0].contentDocument;
        if (iframeDoc.document) {
            iframeDoc = iframeDoc.document;
        }
        return iframeDoc;
    }

    function submit_clone_form(original, move) {
        var iframe = $("<iframe style='display: none' src='about:blank'></iframe>").appendTo("body");
        var iframedoc = getiframeDocument(iframe);
        iframedoc.write("<html><head></head><body></body></html>");            
        var clone = original.clone();
        clone.attr('id', '');
        clone.attr('target', '');
        clone.attr('method', 'post');
      
        clone.attr('action', $('.pdf_preview').attr('href'));
        for (descriptor in move) {
            clone.find(descriptor).remove();
            var element = $(descriptor);
            element.appendTo(clone);
            var parent = move[descriptor];
            original.find(parent).empty();
        }
        clone.appendTo($(iframedoc).find('body')).submit();
        for (descriptor in move) {
            var parent = move[descriptor];
            clone.find(descriptor).appendTo(original.find(parent));
        }
        clone.remove();
    }
    $('.pdf_preview').click(function(ev){
        ev.preventDefault();
        var original = $('form');
        submit_clone_form(original, {
            '.record_file_value': '.filefield',
            '.header_textarea': '.header_text_field'
        });
        
    });

    $('#record_variable_<%=record.id%>').change();
</script>