<div class="enrollment-show-box">
  <h3> Inscrições em disciplinas do semestre <%= semester.to_label %> estão abertas! </h3>
  <%= link_to "Clique aqui para se inscrever", student_enroll_path(id: @enrollment.enrollment_number, year: semester.year, semester: semester.semester) %>
</div>