
<div class="landing-main">
    <h2> Matrícula: <%= @enrollment.enrollment_number %> <%= @enrollment.dismissal.nil? ? "" : "(Desligada)" %> </h2>
    <p> Bem-vindo ao Sapos. Você ainda não tem acesso a nada, mas em breve várias funcionalidades interessantes aparecerão aqui para você! </p>
</div>