<% column_options = active_scaffold_input_options(column, scope, object: record) %>
<dl>
  <dd>
    <%= sql_form_column record, column_options %>
  </dd>
  <dt>
    <%= label_tag label_for(column, column_options), column.label %>
    <br>
  		<span class="description">
  			<span class="desc-title">Variáveis: </span>
        <ul>
          <li>Os nomes de variáveis podem conter caracteres de a-z, 0-9 e _</li>
          <li>Para utilizar uma variável na consulta utilize a notação <b>:nome_da_variavel</b> </li>
        </ul>
  			<span class="desc-title">Variáveis especiais: </span>
  			<ul>
          <li>A variável especial abaixo precisa estar definida na consulta para que possa ser utilizada em declarações geradas por alunos</li>
          <li><strong>:matricula_aluno</strong> <br> Número da matrícula do aluno. <br></li>
          <li>As variáveis especiais abaixo precisam ser definidas na consulta para poderem ser utilizadas em notificações</li>
          <li><strong>:data_consulta</strong> <br> Data de consulta. <br> Ex: <strong>15/01/2014</strong>, para
            frequencia anual e offset de consulta 14d
          </li>
          <li><strong>:ano_semestre_atual</strong><br> Ano do semestre da data de consulta. Ex:
            <strong>2013</strong>, para data de consulta 15/01/2014
          </li>
          <li><strong>:numero_semestre_atual</strong> <br> Número do semestre da data de consulta. Ex:
            <strong>2</strong>, para data de consulta 15/01/2014
          </li>
          <li><strong>:ano_ultimo_semestre</strong> <br> Ano do semestre anterior à data de consulta. Ex:
            <strong>2013</strong>, para data de consulta 15/01/2014
          </li>
          <li><strong>:numero_ultimo_semestre</strong> <br> Número do semestre anterior à data de consulta. Ex:
            <strong>1</strong>, para data de consulta 15/01/2014
          </li>
        </ul>
  		</span>
  </dt>
</dl>
