/* Credits div*/
#credits_footer, #authors_footer, #license_footer {
    float: right;
    margin-top: 5px;
    font-size: 13px;
}

#credits_footer:hover, #authors_footer:hover, #license_footer:hover {
    text-decoration: underline;
}

#credits, #authors, #license {
    border: 1px solid #C8C6C6;
    height: 100%;
    padding: 20px;
}