tr.form-field-configuration td dl {
  display: flex;
  flex-flow: row wrap;
}


tr.form-field-configuration td dt {
  width: 15em;
  padding: 3px 0;
}

tr.form-field-configuration td dd {
  margin: auto;
}

tr.form-field-configuration td dt label {
  display: inline !important;
}

.preview-view .success {
  padding: 5px 10px;
  background-color: #bae0d1;
  border: 1px solid #9ab0a1;
  width: auto;
  display: block;
}

.form-field-config-error {
  color: red !important;
}

.filled-form .field_with_errors {
  display: inline-block;
}

.form-template-checkbox-list {
  display: inline-block;
}

.form-template-checkbox-list.vertical-style {
  display: block;
}

.city-fields {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 962px) {

  .active-scaffold .filled-form li.form-element dt {
    width: 100%;
  }

  .city-fields {
    display: flex;
    flex-direction: column;
  }

  .residency-fields {
    display: flex;
    flex-direction: column;
  }

  .residency-fields input {
    max-width: 235px;
  }
}