@import 'variables';

.identity_issuing_place_widget_show_state {
	margin-left: 10px;
}

.identity_issuing_place_widget_show_text {
	margin-left: 10px;
}

.identity_issuing_place_widget_select {
	width: 228px;
}

.CodeMirror {
	width: ($showwidth - 70px);
	border: 1px solid #a4c7d0;
	margin-left: 2px !important;
	margin-top: 3px !important;
	margin-bottom: 5px !important;
}

.CodeMirror-scroll {
	margin-bottom: -30px !important;
	margin-right: -30px !important;
	padding-bottom: 30px !important;
	padding-right: 30px !important;
}

.CodeMirror-lines {
	padding-top: 3px !important;
}

.description .desc-title {
	margin-top: 10px !important;
	display: block;
}

.description ul {
	padding-left: 14px;
}

.description li {
	padding: 2px 0 !important;
	text-align: justify;
}

.to_template-input,
.subject_template-input,
.to-input,
.subject-input {
	width: ($showwidth - 4px);
	margin-left: 2px !important;
}

.active-scaffold-as_email_templates .name-input {
	width: 280px;
}

.notification_offset-input,
.query_offset-input {
	width: 100px;
	margin-left: 2px !important;
}

.logo_position_field {
	width: 121px !important;
	margin-left: 2px !important;
}

.textarea_value {
	display: none;
}

.image_value {
	display: none;
}

.visible_variable {
	display: block;
}