
body {
    font-family: Verdana, Helvetica, sans-serif;
    text-size-adjust: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #f0f0f0;
    height: 100%;
}

body .active-scaffold {
    font-size: 11pt;
}

body a {
    color: #464d57;
}

.clear_float {
    clear: both;
}

/* Main container */
#container {
    max-width: 1030px;
    margin: 0px auto -1px auto;
    margin-top: 10px;
}

#container.signed-in {
    background-color: #FFFFFF;
    border-radius: 10px 10px 0 0;
    border: 1px solid #c8c6c6;
    border-top: none;
}

/* Header with logo and credits link */
#container #header {
    display: flex;
    width: 100%;
}

#container #header #logo {
    padding-top: 6px;
    padding-left: 2px;
    margin-right: auto;
}

#container #header #sub {
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
    color: #656464;
    vertical-align: middle;
}

#container #header #sub a {
    color: #656464;
}

/* First level of navigation */
#container #top_navigation {
    border-top: 1px solid #c8c6c6;
    border-bottom: 1px solid #c8c6c6;
}

#container #top_navigation ul {
    display: flex;
    flex-wrap: wrap;
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#container #top_navigation ul li a {
    display: inline-block;
    padding: 7px 10px;
    font-size: 10pt;
    font-weight: normal;

    margin: 0;
    border-right: 1px dotted #919191;
    color: #656565;
    text-decoration: none;
    background: #e8e8e8;

    &:hover {
        background: #bad1e0;
    }

    &.selected {
        background: #bad1e0;
        font-weight: bold;
    }
}

/* Second level of navigation */
#container #main {
    display: flex;
}

#container #sub_navigation {
    width: 150px;
    height: 100%;
}

#container #sub_navigation:empty {
    display: none;
}

#container #sub_navigation ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#container #sub_navigation li {
    border-bottom: 1px dotted #9f9f9f;
    box-sizing: border-box;
}

#container #sub_navigation li a {
    font-size: 10pt;
    font-weight: normal;
    display: inline-block;
    padding: 10px;
    color: #656464;
    text-decoration: none;
    width: 130px;
    text-align: left;
    height: 100%;
    width: 150px;
    box-sizing: border-box;

    &:hover {
        background-color: #e1faff;
    }

    &.selected {
        background-color: #d9e5ed;
        color: #3e82ae;
        font-weight: bold;
    }
}

/* Main content */
#container #main #content {
    width: 100%;
    height: 100%;
    min-height: 400px;
}

#container #main #sub_navigation:not(:empty) ~ #content {
    border-left: 1px solid #c8c6c6;
}

#container #main #sub_navigation:empty ~ #content {
    border-left: none;
}

#container .notice {
    padding: 5px 10px;
    background-color: #bae0d1;
    width: auto;
    display: block;
}

#container .notice:empty {
    display: none;
}

/* Small screen */
@media only screen and (max-width: 1075px) {

    #container.signed-in {
        border-radius: 0;
        border-top: 1px solid #c8c6c6;
    }

    #container #main {
        flex-wrap: wrap;
    }
    #container #main #content {
        border-left: none;
    }
    #container #sub_navigation {
        width: 100%;
        border-bottom: 1px dotted #9f9f9f;
    }
    #container #sub_navigation ul {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
    }
    #container #sub_navigation li {
        border-bottom: none;
    }
    #container #sub_navigation li a {
        text-align: center;
        margin: auto;
    }

    #container #login_form_wrapper ~ a {
        margin-left: 10px;
    }

    #container.signed-in .notice {
        border-radius: 0;
    }
}


/*Login module CSS*/
#login_form_wrapper{
    width: 310px;
    margin-left: 33%;
    padding: 30px;
}

#form_border{
    border: 1px solid #bbc5d1;
    padding: 20px;

    background: #deeef9;
}

#form_border form{
    border-style: none;
}

#login_input > label{
    margin-right: 6px;
}

#form_border form input#user_email,
#form_border form input#user_password,
#form_border form input#user_password_confirmation {
    width: 260px;
}

#error_login,
#error_explanation {
    background-color: #fcc;
    margin: 10px 0px;
    border: solid 1px #f66;
    padding: 5px 12px 5px 12px;
}

#remember_me_input > label{
    font-size: 12px;
    margin-top: -1px;
}

.inline-adapter-cell div.actions {
    display: none;
}

.inline-adapter-cell .active-scaffold-header {
    display: none;
}

.inline-adapter-cell .active-scaffold > table{
    display: none;
}
