body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11pt;
    padding: 0;
    margin: 0 auto;
    background-color: #f0f0f0;
    background-image: url("steel-mesh-pattern.png");
    height: 100%;
}

body a {
    color: #464d57;
}

#main_content {
    padding: 10px;
}

.clear_float {
    clear: both;
}

.menu {
    background-color: transparent;
    width: 1030px;
    margin: 0px auto -1px auto;
}

.menu .header {
    color: #d4e8d3;
    font-size: 20pt;
    padding: 5px;
}

.menu .header .sub {
    font-size: 10pt;
    font-weight: bold;
}

.menu .header .sub a {
    color: #656464;
}

#menubardiv{
    background: url("menubardiv.png") repeat-x;
    height: 12px;
    width: 100%;
    position: absolute;
    margin-top: 129px;
}

#steelmeshdark{
    position: absolute;
    height: 129px;
    width: 100%;
    z-index: -100;
    background: url("steel-mesh-pattern.png");
}

#saposgif{
    color: #656464;
    float: right;
}

.menu .footer {
    background-color: #FFFFFF;
    padding: 5px;
    font-size: 10pt;
}

.menu .footer .src_code {
    float: left;
}

.menu .footer .styling {
    float: right;
}

.menu_content {
    margin-top: 10px;
    padding: 0 0 10px 0;
    border: 1px solid #c8c6c6;
    border-top: none;
    background-color: #FFFFFF;

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
}

.menu_content .content {
    float: left;
    min-height: 100px;
    margin-bottom: 10px;
    width: 879px;
}

/*Top Navigation*/
.menu_content #top_navigation {
    float: left;
    width: 100%;
    margin-left: 149px;
    background-color: transparent;
}

.menu_content #top_navigation ul {
    height: 25px;
    margin: 0 30px 0 0;
    padding: 0;
}

.menu_content #top_navigation ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*rounded corners of top-menu navigation*/
.menu_content #top_navigation ul li:last-child a{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu_content #top_navigation ul li a {
    float: left;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
    padding: 7px 10px;
    border-right: 1px dotted #919191;
    color: #656565;
    text-decoration: none;
    /*background gradient*/
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 50%, #dadada 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#e8e8e8), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 50%,#dadada 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 50%,#dadada 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 50%,#dadada 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 50%,#dadada 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
}

.menu_content #top_navigation ul li a:hover {
    /*background gradient*/
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #d3dbe0 50%, #afc6d5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#d3dbe0), color-stop(100%,#afc6d5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d3dbe0 50%,#afc6d5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#d3dbe0 50%,#afc6d5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#d3dbe0 50%,#afc6d5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#d3dbe0 50%,#afc6d5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#afc6d5',GradientType=0 ); /* IE6-9 */
}

.menu_content #top_navigation ul li a.selected {
    color: #357daa;
    font-weight: bold;
    /*background gradient*/
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.28, rgb(175, 198, 213)), color-stop(0.64, rgb(211, 219, 224)), color-stop(1, rgb(255, 255, 255)));
}

/*sub navigation*/
.menu_content .content_wrapper{
    min-height: 100%;
}

.menu_content #sub_navigation {
    float: left;
    background-color: #FFFFFF;
    width: 150px;
    margin-top: 33px;
    margin-right: -1px;
    border-top: 1px solid #c8c6c6;
    border-bottom: none;

    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}

/*hack to overwrite default ul property*/
.menu_content #sub_navigation ul{
    margin-top: -1px;
}

.menu_content #sub_navigation li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu_content #sub_navigation li:first-child {
    margin-top: 10px;
}

.menu_content #sub_navigation li a {
    float: right;
    font-size: 10pt;
    font-weight: normal;
    padding: 10px 10px;
    background-size: 10px 10px;
    background: #FFFFFF no-repeat 97% 50% url("rightarrow.png");
    border-bottom: 1px dotted #9f9f9f;
    color: #656464;
    text-decoration: none;
    width: 130px;
    text-align: left;
}

.menu_content #sub_navigation li:last-child a{
    border-bottom: none;
}

.menu_content #sub_navigation li a:hover {
    background-color: #e1faff;
}

.menu_content #sub_navigation li a.selected {
    background-color: #d9e5ed;
    color: #3e82ae;
    margin-left: 10px;
    font-weight: bold;
}

.breadcrumbs {
    font-size: 12px;
}

.breadcrumbs .title {
    float: left;
    margin-right: 5px;
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}


/*Login module CSS*/
#logout_button{
    float: right;
}

#logout_button > *{
    color: #3e82ae;
    font-size: 12px;
    text-decoration: underline;
}

#login_form_wrapper{
    width: 310px;
    margin-left: 33%;
    padding: 30px;
}

#form_border{
    border: 2px solid #bbc5d1;
    padding: 20px;

    /*rounded border*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    /*background gradient*/
    background-image: linear-gradient(bottom, rgb(213,224,237) 47%, rgb(230,242,255) 97%);
    background-image: -o-linear-gradient(bottom, rgb(213,224,237) 47%, rgb(230,242,255) 97%);
    background-image: -moz-linear-gradient(bottom, rgb(213,224,237) 47%, rgb(230,242,255) 97%);
    background-image: -webkit-linear-gradient(bottom, rgb(213,224,237) 47%, rgb(230,242,255) 97%);
    background-image: -ms-linear-gradient(bottom, rgb(213,224,237) 47%, rgb(230,242,255) 97%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.47, rgb(213,224,237)),
        color-stop(0.97, rgb(230,242,255))
    );
}

#login_form{
    border-style: none;
}

#login_input > label{
    margin-right: 6px;
}

#error_login{
    background-color: #fcc;
    margin: 10px 0px;
    border: solid 1px #f66;
    padding: 5px 0 5px 12px;
}

#remember_me_input > label{
    font-size: 12px;
    margin-top: -1px;
}