@import 'variables';

#as_professors-content .advisements_with_points-view,
#as_enrollments-content .advisements-view,
#as_enrollments-content .accomplishments-view,
#as_enrollments-content .deferrals-view, 
#as_enrollments-content .scholarship_durations-view,
#as_enrollments-content .class_enrollments-view,
#as_enrollments-content .thesis_defense_committee_participations-view,
#as_enrollments-content .phase_due_dates-view,
#as_enrollments-content .enrollment_holds-view,
#as_scholarships-content .scholarship_durations-view {
	width: $showwidth;
}

.tr_search_result {
	background-color: #E6F2EF !important;
}

.showtable th {
	padding: 2px 5px;
	border-right: 1px solid #C5DBF7;
}

.showtable tr td:last-child {
	border-right: 1px solid #C5DBF7;
}

.showtable tr th:last-child {
	border-right: 1px solid #427fa4;
}

.show-view .CodeMirror {
	font-weight: normal;
}

.simulate_query_date {
	margin: 7px 0 !important;
}