// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.preview-image {
  width: 400px;
  height: 300px;
  Object-fit: contain;
  background-color: #f2f1f0;
}
