$showwidth: 678px;
$show_border_color: #C5DBF7;

/*
Check active scaffold override colors here: https://github.com/activescaffold/active_scaffold/blob/master/app/assets/stylesheets/active_scaffold_colors.scss
*/


$header_color: #656464;

$column_header_bg: #427fa4;
$label_color: #555;
$subform_header_color: #555;
$column_header_link_hover_bg: #407398;
$column_header_link_hover_color: #c4e7f0;
$column_header_sorted_bg: #33506d;

$nested_bg: #FFF;
$nested_border_color: #c8c6c6;
$nested_column_bg: #E6F2FF;
$second_nested_bg: #FFF;
$second_nested_border_color: #c8c6c6;
$third_nested_bg: #FFF;

$msg_error_bg: #fcc;

$form_title_color: #427fa4;
$input_border_color: #a4c7d0;
$input_focus_bg: #d3e5ea;

$draggable_list_bg: #FFF;