<%
  subid = "as_admissions__admission_processes-#{@admission_process.id}-consolidate-phase-div"
%>
<h4><%= active_scaffold_config.show.label(h(@admission_process.to_label)) %> - <%= @message %></h4>

<div class="admissions-table show-view">
  <% @buckets.each do |key, bucket| %>
    <%= render partial: "applications_result_table", locals: {
      subtext: nil,
      subid: "#{subid}-#{key}",
      show_status: false,
      visible: false
    }.merge(bucket.merge) %>
  <% end %>
</div>
