<div class="pendency-type-box">
  <%= render active_scaffold: "course_classes", conditions: conditions %>

  <span class="pendency-description">
    Essa lista exibe as turmas que apresentam algum aluno que não tenha completado a disciplina nesse semestre.(Situação: Incompleto)<br>
     Data limite para alterar a situação do aluno: 
     <span style="color: red">
      <%= ClassSchedule.find_by(year: YearSemester.current.year, semester: YearSemester.current.semester)&.grades_deadline_to_view%>
      </span><br>
    Para acessar a lista de turmas completa, acesse: <%= link_to "Disciplinas > Turmas", course_classes_path %>
  </span>
</div>