<div class="pendency-type-box">
  <%= render active_scaffold: "enrollment_requests", conditions: conditions %>

  <span class="pendency-description">
    Essa lista de pendências exibe apenas pedidos de inscrição com disciplinas sem decisão (Situação: 'Solicitada'). <br>
    Para ver a lista completa, acesse <%= link_to "Disciplinas > Pedidos de Inscrição", enrollment_requests_path %>
  </span>
</div>
